
body{
	background-color: #7A1507;
	color: white;
	font-size: 30px;
}


header, footer {
	background-color:#FB745F;
}

#imagemprincipal{
	width: 100;
	height: 400;
	border: 15px solid yellow;
	padding: 20px;
	margin: 20px;
}



h3{
	text-align: center;
	color:#FAAC14;
	font-size: 50px;
}

#paragrafodiferente{
	color: lightgreen;
}

b{
	color: #FBF014;
	font-size: 40px;
}

i {
	font-size: 40px;
}

.momentos {
	background-color: lightbrown;
	padding: 10px;
	margin: 01px;
	border: white solid 08px;
}

.imagemlateral {
	display: inline-block;
	width: 15%;
	height: inherit;
	margin: 05px;
}
.lista {
	display: inline-block;
	width: 50%;
	height: inherit;
	vertical-align: top;
	font-size: 20px;	
}

li::marker {
	content: "✔";
}

nav li {
	list-style:none;
}
