
body{
background-color: #7A1507;
}

header, footer {
background-color:#FB745F;
}

h3{
	text-align: center;
	color:#FBF0FF;
	font-size: 25px;
}
b{
color: #FBF014;
font-size: 20px;
}


