
body{
background-color: #7A1507;
color: white;
font-size: 20px;
}


header, footer {
background-color:#FB745F;
}

h3{
	text-align: center;
	color:#FAAC14;
	font-size: 50px;
}
b{
color: #FBF014;
font-size: 20px;
}


